.actions {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

[class^="icon-"],
[class*=" icon-"] {
  font-size: 18px;
  -webkit-text-stroke: 1px #2cc5d2;
  color: transparent;
}
a{
  all: unset;
  display: flex;
  cursor: pointer;
}

.pin-new {
  margin-right: 20px;
  font-weight: 600;
  font-size: 14px;
  color: gray;
  display: flex;
  align-items: center;
  text-align: center;
}
